.hero-oberstaff {
    background-color: #ffffff;
    padding: 0px 20px;
    min-height: calc(100vh - 120px);
    display: flex;
    align-items: center;
}



.hero-container {
    max-width: 1300px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1.1fr 1fr;
    gap: 60px;
    align-items: flex-start;
    padding-top: 20px;
}

@media (max-width: 1024px) {
    .hero-container {
        grid-template-columns: 1fr;
        text-align: center;
        gap: 30px;
    }
}