.hero-visual {
    position: relative;
}

.image-wrapper {
    position: relative;
    width: 100%;
    max-width: 450px;
    margin: -35px auto 0 auto;
}

.main-hero-img {
    width: 100% !important;
    height: auto !important;
    border-radius: 20px;
    display: block !important;
    position: relative;
    z-index: 5;
    opacity: 1 !important;
    visibility: visible !important;
}

.card-juan {
    top: 10%;
    left: -40px;
}

.card-mateo {
    bottom: 10%;
    left: 100px;
}

.card-camila {
    bottom: 45%;
    right: -0px;
}

@media (max-width: 1024px) {
    .image-wrapper {
        margin-top: 40px;
        max-width: 300px;
        margin: 0 auto;
    }

    .card-juan {
        top: 5%;
        left: -30px;
    }

    .card-mateo {
        bottom: 15%;
        left: 10px;
    }

    .card-camila {
        bottom: 25%;
        right: -20px;
    }
}