---
import StatCard from "./StatCard.astro";
import "../../styles/stats-oberstaff/stats-section.css";
---

<section class="stats-oberstaff">
    <h2 class="stats-main-title">
        Si estás evaluando <strong>Cómo reducir costes de personal</strong> sin perder calidad ni zona horaria, LATAM es una de las vías más eficientes.
    </h2>
    <div class="stats-container">
        <StatCard
            number="70%"
            label="Ahorro versus contratación local en España"
        />

        <StatCard
            number="<30"
            label="Días hasta incorporar a tu candidato a tu operación"
        />

        <StatCard
            number="100%"
            label="Profesionales Compatibles con Zona horaria de España"
        />
    </div>
</section>
