---
import "../../styles/stats-oberstaff/stat-card.css";

interface Props {
    number: string;
    label: string;
}

const { number, label } = Astro.props;
---

<div class="stat-card">
    <h2 class="stat-number">{number}</h2>
    <p class="stat-label">{label}</p>
</div>
