.uses-header {
  text-align: center;
  margin-bottom: 50px;
}

.visual-section-title {
  font-family: 'Montserrat', sans-serif;
  font-size: 32px;
  font-weight: 700;
  color: #1B1B1B;
  line-height: 1.4;
}

.visual-section-title strong {
  font-weight: 900;
  color: #6663FD;
}

@media (max-width: 850px) {
  .visual-section-title {
    font-size: 28px;
  }
}
