---
import VideoPrincipalModal from "../video/VideoPrincipalModal.astro";
interface Props {
    videoImg: string;
    remoteCountry?: string;
    floatingText: string;
    badgeRightTitle?: string;
    badgeRightText?: string;
}

const { 
    videoImg, 
    remoteCountry = "CO", 
    floatingText, 
    badgeRightTitle = "100%", 
    badgeRightText = "Cumplimiento" 
} = Astro.props;
import "../../styles/hero-servicios/HeroVisual.css";
---

<div class="hero-visual-wrapper">
    <!-- Elemento flotante Izquierdo -->
    <div class="floating-badge badge-left">
        <span class="icon-emoji">🛡️</span>
        <span>{floatingText}</span>
    </div>

    <!-- Video Central -->
    <div class="video-preview">
        <img src={videoImg} alt="Visual Service">
        <a href="#" id="openVideoModal" class="play-button" aria-label="Reproducir video principal">
            <iconify-icon icon="solar:play-bold"></iconify-icon>
        </a>
    </div>

    <!-- Elemento flotante Derecho -->
    <div class="floating-badge badge-right">
        <span class="icon-emoji">🔹</span>
        <span class="text">{badgeRightTitle}</span>
        <span class="country">{badgeRightText}</span>
    </div>
</div>

<VideoPrincipalModal />
