---
import VideoPrincipalModal from "../video/VideoPrincipalModal.astro";
interface Props {
    videoImg: string;
    remoteCountry: string;
    floatingText: string;
}

const { videoImg, remoteCountry, floatingText } = Astro.props;
import "../../styles/hero-servicios/HeroVisual.css";
---

<div class="video-preview">
    <img src={videoImg} alt="Visual Service">
    <a href="#" id="openVideoModal" class="play-button" aria-label="Reproducir video principal">
        <iconify-icon icon="solar:play-bold"></iconify-icon>
    </a>
</div>

<div class="badge-remoto">
    <span class="dot">●</span>
    <span class="text">REMOTO DESDE</span>
    <span class="country">{remoteCountry}</span>
</div>

<div class="floating-card">
    <div class="icon-shield">
        <iconify-icon icon="solar:shield-check-bold"></iconify-icon>
    </div>
    <span>{floatingText}</span>
</div>

<VideoPrincipalModal />
