node_modules
dist
.git
.vscode
.astro
.gitignore
README.md
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
docker-compose.yaml
docker-compose.override.yaml
