---
import "../../styles/faq/faq-header.css";
interface Props {
    title: string;
    subtitle?: string;
}

const { title, subtitle } = Astro.props;
---

<div class="faq-header-container">
    <h2 class="faq-main-title">{title}</h2>
    {subtitle && <p class="faq-subtitle">{subtitle}</p>}
</div>
