---
import "../../styles/faq/faq-item.css";

interface Props {
    question: string;
}

const { question } = Astro.props;
---

<div class="faq-item">
    <button class="faq-question" aria-expanded="false">
        <span>{question}</span>
        <span class="faq-toggle-icon">+</span>
    </button>
    <div class="faq-answer">
        <div class="faq-answer-content">
            <slot />
        </div>
    </div>
</div>
