---
import "../../styles/beneficios-eor-servicios/beneficios-seccion.css";
import BeneficioItem from "./BeneficioItem.astro";

interface Beneficio {
    icon: string;
    title: string;
    description: string;
    colorClass: string;
}

interface Props {
    beneficios: Beneficio[];
}

const { beneficios } = Astro.props;
---

<section class="beneficios-eor">
    <div class="beneficios-grid">
        {beneficios.map((beneficio) => (
            <BeneficioItem 
                icon={beneficio.icon}
                title={beneficio.title}
                description={beneficio.description}
                colorClass={beneficio.colorClass}
            />
        ))}
    </div>
</section>
