---
import "../../styles/beneficios-eor-servicios/beneficio-item.css";

interface Props {
    icon: string;
    title: string;
    description: string;
    colorClass: string;
}

const { icon, title, description, colorClass } = Astro.props;
---

<div class="beneficio-col">
    <div class={`icon-container ${colorClass}`}>
        <iconify-icon icon={icon}></iconify-icon>
    </div>
    <h3 class="beneficio-titulo">{title}</h3>
    <p class="beneficio-descripcion">{description}</p>
</div>
