---
import "../../styles/banner-patrocinadores/trust-section.css";
---

<section class="trust-section">
    <div class="trust-container">
        <h2 class="trust-title">
            Patrocinadores oficiales
        </h2>

        <div class="sponsors-static">
            <img src="/logo-one-planet.webp" alt="One Planet" class="sponsor-logo logo-oneplanet" />
            <img src="/logo-camara-comercio.webp" alt="Cámara de Comercio" class="sponsor-logo logo-camara" />
        </div>

        <div class="trust-description">
            <p>
               ✅ Solución segura para <strong
                    >Contratar talentos en el extranjero</strong
                > con soporte integral
            </p>
        </div>
    </div>
</section>
