---
import "../../styles/process/process-cta.css";
---

<div class="process-cta">
    <h4>Empieza a ahorrar hoy</h4>
    <p>Un equipo dedicado gestionará todo el proceso por ti, de principio a fin.</p>
    <a href="#contacto" class="process-cta-btn">Agendar llamada</a>
</div>
