---
import "../../styles/hero/HeroContent.css";
---

<div class="hero-text-content">
    <h1>
        Contratar talento<br />
        remoto en LATAM<br />
        para empresas en<br />
        España
    </h1>
    <p class="hero-description">
        En <span class="brand-text">Oberstaff<span class="brand-dot">.</span></span> hacemos posible contratar talento cualificado<br class="desktop-br" />
        en Latinoamérica mediante reclutamiento remoto, integración rápida y una estructura operativa alineada con la normativa.<br class="desktop-br" />
        Tú eliges el perfil y la forma de colaboración, y nosotros te guiamos hacia el modelo adecuado para crecer con menos fricción. <br class="desktop-br" />
        
    </p>
    <p class="social-proof">Más de 500 empresas confían en <span class="brand-text">Oberstaff<span class="brand-dot">.</span></span></p>

    <div class="hero-actions">
        <a href="#contacto" class="btn-primary"
            >Agendar llamada gratis <iconify-icon
                icon="solar:alt-arrow-right-linear"
                class="btn-icon-right"></iconify-icon></a
        >
        <a href="javascript:void(0)" class="btn-secondary" id="openVideoModal">
            <iconify-icon icon="solar:play-circle-bold" class="btn-icon-left"
            ></iconify-icon>
            Ver cómo funciona
        </a>
    </div>
</div>


