---
import HeroContent from "./HeroContent.astro";
import HeroVisual from "./HeroVisual.astro";
import "../../styles/hero/Hero.css";
---

<section class="hero-oberstaff">
    <div class="hero-container">
        <HeroContent />
        <HeroVisual />
    </div>
</section>
