---
import "../../styles/info-services-perfil/info-price-box.css";

interface Props {
    title?: string;
    text?: string;
}

const {
    title = "",
    text = "",
} = Astro.props;
---

<div class="price-box">
    <h3>{title}</h3>
    <p set:html={text} />
</div>
