.comp-header { margin-bottom: 50px; }
.comp-header h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 32px;
    font-weight: 700;
    color: #1B1B1B;
    margin-bottom: 20px;
    letter-spacing: -1px;
}
.comp-header p { font-family: 'Poppins', sans-serif; color: #5A5A5A; font-size: 18px; max-width: 1100px; margin: 0 auto; }

@media (max-width: 1024px) {
    .comp-header p { font-size: 16px; }
    .comp-header h2 { font-size: 24px; }
}