---
import "../../styles/comparison-perfiles/comparison-row.css";

export interface ComparisonRowProps {
  label: string;
  oberstaffValue: string;
  oberstaffNoPadding?: boolean;
  oberstaffBlueText?: boolean;
  competitorValues: string[];
}

interface Props extends ComparisonRowProps {}

const {
  label,
  oberstaffValue,
  oberstaffNoPadding,
  oberstaffBlueText,
  competitorValues
} = Astro.props;

const injectAriaHidden = (html: string) => {
    return html.replace(/class=['"](icon-check|icon-cross|icon-warning)['"]/g, '$& aria-hidden="true"');
};
---
<tr>
    <td class="row-label" set:html={label}></td>
    <td class={`col-highlight ${oberstaffBlueText ? 'blue-text' : ''} ${oberstaffNoPadding ? 'no-padding' : ''}`}>
        <Fragment set:html={injectAriaHidden(oberstaffValue)} />
    </td>
    {competitorValues.map((val) => (
        <td set:html={injectAriaHidden(val)}></td>
    ))}
</tr>
