---
import "../../styles/informes/ContentSection.css";
---

<section class="content-section-pdf">
  <div class="gate-modal-card">
    <div class="modal-glow"></div>
    <div class="modal-content-wrapper">
      <slot />
    </div>
  </div>
</section>