---
import DashboardLayoutContacto from "../layouts/DashboardLayoutContacto.astro";
import HeroContactoSection from "../components/hero-contacto/HeroContactoSection.astro";
import FormContactoSection from "../components/form-contacto/FormContactoSection.astro";
import ChannelsSection from "../components/canales-contacto/ChannelsSection.astro";
---

<DashboardLayoutContacto
    title="Contacto Oberstaff | Solicita una llamada gratuita"
    description="Solicita una llamada gratuita con Oberstaff y recibe orientación sobre perfiles, costes y modelos de colaboración."
    footerTitle="© 2026 Oberstaff. Todos los derechos reservados"
    keywords="Solicitar llamada gratuita Oberstaff"
>

<div class="fade-in-section">
<HeroContactoSection />

</div>
    
<div class="fade-in-section">
 <FormContactoSection />
</div>
   
<div class="fade-in-section">
 <ChannelsSection />
</div>
   

    
</DashboardLayoutContacto>
 