---
import TestimonialCard from "./TestimonialCard.astro";
import TestimonialsHeader from "./TestimonialsHeader.astro";
import "../../styles/testimonios/testimonials-section.css";

const testimonials = [
    {
        clientName: "Shadai Iborra",
        clientMeta: "CEO · @amediastory - Barcelona, España.",
        clientImage: "/sha.webp",
        quote: "\"Con <span style='font-weight: 700; color: #1B1B1B;'>Oberstaff</span><span style='font-weight: 900; color: #FF66CC;'>.</span> pude dar trabajo a dos personas a tiempo completo, ahorrando costes de reclutamiento, espacios de oficina y salario que tendría al hacerlo en España. Lo mejor de todo es que todo está incluido en una misma factura. Con <span style='font-weight: 700; color: #1B1B1B;'>Oberstaff</span><span style='font-weight: 900; color: #FF66CC;'>.</span>, encontré la solución perfecta para mis necesidades de contratación remota y optimización de costes.\"",
        videoId: "_CxlPfluS7M",
        altText: "Shadai Iborra, cliente de Oberstaff en Barcelona",
    },
    {
        clientName: "Fernando Calderón",
        clientMeta: "CEO · bybeautypro.com - Madrid, España",
        clientImage: "/fernando.webp",
        quote: "\"Estaba en busca de talento remoto especializado para mi empresa y después de varias búsquedas sin éxito, encontré a <span style='font-weight: 700; color: #1B1B1B;'>Oberstaff</span><span style='font-weight: 900; color: #FF66CC;'>.</span> en Instagram. Desde nuestra primera llamada, su profesionalismo y calidad de trabajo me dejaron impresionado. Ahora, gracias a su excelente servicio, he expandido mi contrato con ellos para incluir más personal.\"",
        videoId: "24KxCAFGrDs",
        altText: "Fernando Calderón, cliente de Oberstaff en Madrid",
    },
];
const { id } = Astro.props;
---

<section class="testimonials-section" id={id}>
    <div class="testimonials-container">
        <TestimonialsHeader
            title="Empresas que ya <strong>contratan talento remoto</strong> en Latinoamérica"
        />

        <div class="testimonials-grid">
            {
                testimonials.map((testimonial) => (
                    <TestimonialCard {...testimonial} />
                ))
            }
        </div>
    </div>
</section>
