---
import "../../styles/conversion-perfil/conversion-form.css";
interface Props {
  buttonText?: string;
}
const { buttonText = "<iconify-icon icon='solar:arrow-right-bold-duotone' style='font-size: 20px;'></iconify-icon> Solicitar propuesta gratuita" } = Astro.props;
---
<div class="form-card-horizontal">
    <form class="horizontal-form">
        <div class="form-grid">
            <input type="text" placeholder="Nombre completo *" required>
            <input type="email" placeholder="Email corporativo *" required>
            <input type="text" placeholder="Empresa *" required>
            <div style="position: relative; display: flex; align-items: center; width: 100%;">
                <span style="position: absolute; left: 16px; color: #5A5A5A; font-family: inherit; font-size: 14px; pointer-events: none;">+34</span>
                <input type="tel" placeholder="Teléfono *" required style="padding-left: 50px; width: 100%; box-sizing: border-box;" oninput="this.value = this.value.replace(/[^0-9 ]/g, '')">
            </div>
        </div>
        <button type="submit" class="btn-submit-blue" set:html={buttonText}></button>
    </form>
</div>
