---
interface Props {
    title: string;
    description: string;
    titleTag?: string;
}

const { title, description, titleTag = "h1" } = Astro.props;
import "../../styles/guia-contratacion-perfiles/GuiaHeader.css";

const TitleTag = titleTag as any;
---

<div class="section-header">
    <TitleTag set:html={title} />
    <p>{description}</p>
</div>
