---
interface Props {
    icon: string;
    title: string;
    description: string;
}

const { icon, title, description } = Astro.props;
import "../../styles/QueEsServicio/QueEsDifference.css";
---

<div class="que-es-difference-box">
    <div class="diff-icon" aria-hidden="true">{icon}</div>
    <div class="diff-text">
        <p class="diff-title"><strong>{title}</strong></p>
        <p set:html={description}></p>
    </div>
</div>
