---
import "../../styles/vision-mision-contacto/purpose-section.css";
import VisionMisionHeader from "./VisionMisionHeader.astro";
import VisionMisionCard from "./VisionMisionCard.astro";

interface Props {
  title?: string;
}

const { title } = Astro.props;
---

<section class="uses-eor-section">
  <div class="container uses-container">
    <VisionMisionHeader title={title} />
    <div class="uses-grid">
      <slot />
    </div>
  </div>
</section>
