---
import DashboardLayoutPerfiles from "../../layouts/DashboardLayoutPerfiles.astro";
import LeadHeroSection from "../../components/community-manager/LeadHeroSection.astro";
import TrustBarPerfiles from "../../components/trust-bar-perfiles/TrustBarPerfiles.astro";
import InfoServicePerfil from "../../components/info-services-perfil/InfoServicePerfil.astro";
import AreasPerfiles from "../../components/areas-perfiles/AreasPerfiles.astro";
import TimelinePerfiles from "../../components/timeline-perfiles/TimelinePerfiles.astro";
import CTAIntermedioPerfil from "../../components/cta-intermedio-perfil/CTAIntermedioPerfil.astro";
import ComparisonPerfiles from "../../components/comparison-perfiles/ComparisonPerfiles.astro";
import PricingCardPerfil from "../../components/pricing-perfil/PricingCardPerfil.astro";
import BeneficiosPerfil from "../../components/beneficios-perfil/BeneficiosPerfil.astro";
import GuiaPerfiles from "../../components/guia-perfiles/GuiaPerfiles.astro";
import CasosExitoPerfiles from "../../components/casos-exito-perfiles/CasosExitoPerfiles.astro";
import FAQSectionCommunity from "../../components/faq-servicios/FAQSection-community.astro";
import PressSection from "../../components/press/PressSection.astro";
import ConversionPerfil from "../../components/conversion-perfil/ConversionPerfil.astro";
import RolesPerfil from "../../components/roles-del-perfil/RolesPerfil.astro";
---

<DashboardLayoutPerfiles
  title="Contratar Community Manager para Empresas Españolas"
  description="¿Buscas contratar community manager sin saber por dónde empezar? Perfiles evaluados de LATAM, zona horaria España y hasta un 70% de ahorro."
  keywords="Contratar community manager"
>
  <div class="service-detail-container" id="inicio">
    
     
    hero


  </div>

  <style>
    .service-detail-container {
    }
  </style>
</DashboardLayoutPerfiles>
