---
import "../../styles/benefits/benefit-info-box.css";
---

<div class="highlight-info-box">
    <p>
        <iconify-icon icon="mdi:lightbulb-on-outline"></iconify-icon>
        <strong>Oberstaff factura en euros</strong>, todas las gestiones se
        hacen en tu idioma, en tu zona horaria y cumpliendo la normativa vigente
        para empresas españolas.
    </p>
</div>
